@import "compass/reset/utilities"
@import "compass/css3"

$carousel-height: 100px
$carousel-image-width: 150px

.container
  width: 80%
  min-width: 500px
  margin: 10px auto
  height: auto
  overflow: hidden

.brandconnect-gallery
  +nested-reset

.brandconnect-gallery
  width: 100%
  overlflow: hidden

  .main-image-container
    margin: 10px 0

    img
      width: 100%

  .image-carousel-container
    width: 100%
    height: $carousel-height
    overflow-x: scroll
    overflow-y: hidden

    ul
      height: $carousel-height
      width: 99999px

      li
        height: $carousel-height
        list-style: none
        float: left
        margin: 0 1px 0 0
        max-width: $carousel-image-width
        overflow: hidden

        img
          cursor: pointer
